.footer {
  padding: 1rem;
  text-align: center;
  width: 100%;
  z-index: 1000;
  background-color: transparent; /* 배경색을 투명으로 설정 */
  backdrop-filter: blur(1px);
}

.fixed {
  position: fixed;
  bottom: 0;
}
