.container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  padding-bottom: 30px; /* 푸터 높이 고려 */
  box-sizing: border-box;
}

.main {
  display: flex;
  flex: 1;
  padding: 1rem;
  overflow: hidden; /* 전체 스크롤 방지 */
}

.left,
.right {
  padding: 1rem;
  border: 1px solid #ddd;
  margin: 0.5rem;
}

.left {
  flex: 1;
  overflow: hidden; /* 스크롤 방지 */
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.tabButton {
  flex: 1;
  padding: 0.5rem 1rem;
  background: none;
  border: 1px solid #ddd;
  cursor: pointer;
  text-align: center;
}

.tabButton:hover {
  background-color: #f1f1f1;
}

.activeTab {
  background-color: #96a0fe;
  color: white;
}

.tabContent {
  flex: 1;
  border: 1px solid #ddd;
  padding: 1rem;
  overflow-y: auto; /* 우측 영역에서 세로 스크롤 허용 */
  word-break: break-word; /* 텍스트 줄바꿈을 위한 설정 */
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }
}

.keywordItem,
.conversationItem {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  color: #555;
  transition: background-color 0.3s ease, font-weight 0.3s ease;
  word-break: break-word; /* 텍스트 줄바꿈을 위한 설정 */
}

.keywordItem:hover,
.conversationItem:hover {
  background-color: rgba(150, 160, 254, 0.3);
}

.keywordLabel {
  color: black;
}

.keywordContent {
  color: #555;
}

.conversationUser {
  font-weight: bold;
  color: #333;
  margin-right: 10px; /* 이름과 타임스탬프 간격 조정 */
  display: inline-block; /* 인라인 블록으로 변경 */
}

.conversationTimestamp {
  font-size: 13px;
  color: #999;
  text-align: right;
  white-space: nowrap;
  display: inline-block; /* 인라인 블록으로 변경 */
}

.conversationScript {
  font-size: 15px;
  color: #555;
  display: block; /* 블록 요소로 변경하여 전체 너비 사용 */
  white-space: normal; /* 줄바꿈을 위한 설정 */
  margin-top: 5px; /* 대화 내용과 화자/타임스탬프 간격 조정 */
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 40px;
  color: white;
  font-size: 13px;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #96a0fe;
  margin-bottom: 5px;
}

.button:hover {
  background-color: #0056b3;
}

.button svg {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
